/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

p, ul {
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul,
ul li {
  list-style: none;
}

p.sub {
  margin-left: 2em;
}

ul p.sub {
  margin-top: 0;
  margin-bottom: 0;
}

.action-definition p,
.action-definition p label {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.action-definition label:not(:first-child) {
/*
  border: 1px solid ThreeDShadow;
  border-radius: 2px;
  padding: 0.2em;
*/
  -moz-appearance: button;
}

.action-definition label:first-child:not(.checked) ~ label {
  opacity: 0.5;
  pointer-events: none;
}

.action-definition label:first-child:not(.checked) ~ label input {
  -moz-user-focus: ignore;
}

.action-definition .delimiter {
  margin: 0.2em;
}

.uri-detection label + span {
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 90%;
}

.uri-detection label + span > input:first-child {
  flex-grow: 1;
}

:root:not(.debugging) #debug-configs {
  max-height: 0;
  overflow: hidden;
}

:root:not(.debugging) #debug-configs * {
  -moz-user-focus: ignore;
  -moz-user-input: disabled;
}
